<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main class="container-fluid ml-3">
		<div class="row">
		<div class="row mt-5" th:if="${!productPage.hasContent()}">
                                <div class="col">
                                    <h4 style="margin-left: 500px">Rất tiếc, Không tìm thấy sản phẩm nào trùng khớp</h4>
                                </div>
                                </div>
			<div th:each="item: ${productPage.content}" class="col-sm-2">
				<div class="card">
					<div class="card-body list-item">
						<div class="gif">
							<img th:src="@{|/assets/images/${item.hotSale}|}">
						</div>
						<a th:href="@{|/product/detail/${item.productId}|}"> <img
							class="imgindex" th:src="@{|/assets/images/${item.image1}|}">
						</a>
					</div>
					<div class="card-footer">
						<a style="color: black; text-decoration:none" th:href="@{|/product/detail/${item.productId}|}" class="card-title">[(${item.name})]</a>
						<div class="card-bottom">
							<div class="price">
								[[#{cart.price}]]: [[${#numbers.formatInteger(item.unitPrice, 0,
								'POINT')}]] <sup>đ</sup>
							</div>
							<div class="discount">[[#{cart.discount}]]:
								[[${item.discount}]]%</div>
							<div class="card-bot">
								<div>
									<img th:src="|/assets/images/${item.image5}|">
								</div>
								<div>
									<a th:attr="ng-click=@{|cart.add(${item.productId})|}" href="#"><i
										style="width: 35px; height: 20px;"
										class="fa-solid fa-cart-shopping"></i></a> <a
										th:href="@{|/favorite/save/${item.productId}|}"><i
										style="width: 35px; height: 20px;"
										class="fa-regular fa-thumbs-up"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-muted mt-3 mb-3">
			<div aria-label="Page navigation"
				th:if="${productPage.totalPages > 0}">
				<ul class="pagination justify-content-center">
					<li
						th:class="${1 == productPage.number + 1} ? 'page-item active' : 'page-item'">
						<a
						th:href="@{/(name=${name}, size=${productPage.size}, page=${1})}"
						class="page-link">Đầu</a>
					</li>

					<li class="page-item active" th:each="pageNumber : ${pageNumbers}"
						th:if="${productPage.totalPages > 1}"
						th:class="${pageNumber == productPage.number + 1} ? 'page-item active' : 'page-item'">
						<a
						th:href="@{/(name=${name}, size=${productPage.size}, page=${pageNumber})}"
						class="page-link" th:text="${pageNumber}"></a>
					</li>

					<li
						th:class="${productPage.totalPages == productPage.number + 1} ? 'page-item active' : 'page-item'">
						<a
						th:href="@{/(name=${name}, size=${productPage.size}, page=${productPage.totalPages})}"
						class="page-link">Cuối</a>
					</li>
				</ul>
			</div>
		</div>
	</main>
</body>
<!-- <div th:each="item: ${productPage.content}" class="card-deck">
				<div class="card">
					<a th:href="@{|/product/detail/${item.productId}|}"> <img
							class="card-img-top" th:src="@{|/assets/images/${item.image1}|}">
						</a>
					<div class="card-body">
					<a style="color: black; text-decoration: none" type="text"
							th:href="@{|/product/detail/${item.productId}|}"
							class="card-title">[(${item.name})]</a>
					<div class="card-bottom">
							<div class="price">
								[[#{cart.price}]]: [[${#numbers.formatInteger(item.unitPrice, 0,
								'POINT')}]] <sup>đ</sup>
							</div>
							<div class="discount">[[#{cart.discount}]]:
								[[${item.discount}]]%</div>
							<div class="card-bot">
								<div>
									<img th:src="|/assets/images/${item.image5}|">
								</div>
								<div>
									<a th:attr="ng-click=@{|cart.add(${item.productId})|}" href="#"><i
										style="width: 35px; height: 20px;"
										class="fa-solid fa-cart-shopping"></i></a> <a
										th:href="@{|/favorite/save/${item.productId}|}"><i
										style="width: 35px; height: 20px;"
										class="fa-regular fa-thumbs-up"></i></a>
								</div>
					</div>
				</div>
			</div>-->
</html>