<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/dist/fragment :: dynamic(~{::main})}">
<body>
	<main class="container-fluid ml-3">
        <div class="row mt-2">
            <div class="col">
                <div class="status_cart">
                    <a th:href=@{/admin/orders/list}><label id="btn_search"
                        class="status_cart_item"> [[#{OH.all}]] ([[${totalSize}]])</label></a> 
                    <a th:href=@{/admin/orders/confirmation}><label id="btn_search"
                        class="status_cart_item">
                        <i class="fa-solid fa-circle-check"></i> [[#{OH.confirm}]] (<label class="text_totalSizeOrder">[[${totalSizeStatus_confirmation}]]</label>) </label></a> 
                    <a th:href=@{/admin/orders/transported}><label id="btn_search"
                        class="status_cart_item"><i class="fa-solid fa-truck"></i>
                        [[#{OH.transported}]] (<label class="text_totalSizeOrder">[[${totalSizeStatus_transported}]]</label>)</label></a> 
                    <a th:href=@{/admin/orders/delivered}><label id="btn_search"
                        class="status_cart_item"><i class="fa-solid fa-face-smile"></i>
                        [[#{OH.delivered}]] (<label class="text_totalSizeOrder">[[${totalSizeStatus_delivered}]]</label>)</label></a> 
                    <a th:href=@{/admin/orders/cancel}><label id="btn_search"
                        class="status_cart_item"><i class="fa-solid fa-road"></i>
                        [[#{OH.cancel}]] (<label class="text_totalSizeOrder">[[${totalSizeStatus_cancel}]]</label>)</label></a>
                </div>
            </div>
        </div>
		<div class="card mt-2 mb-2">
			<table class="table table-hover">
			<thead class="bg-light ">
				<tr class="title_order_detail">
					<th>[[#{order.Code_orders}]]</th>
					<th>[[#{order.name}]]</th>
					<th>[[#{order.date}]]</th>
					<th>[[#{order.phone}]]</th>
					<th>Email</th>
					<th>[[#{order.address}]]</th>
					<th>[[#{order.total}]]</th>
					<th>[[#{cart.status}]]</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="text_tbody">
				<tr th:each=" order,state: ${orders}">
					<td>[[${order.orderId}]]</td>
					<td>[[${order.name}]]</td>
					<td>[[${order.createDay}]]</td>
					<td>[[${order.telePhone}]]</td>
					<td>[[${order.email}]]</td>
					<td>[[${order.address}]]</td>
					<td><label class="totalPrice_order">[[${#numbers.formatInteger(order.total, 0, 'POINT')}]] <sup>đ</sup></label></td>
					<td><label class="status_order"
						th:style="${order.status == 'Đã giao hàng' ? 'background-color: yellowgreen;' 
						: (order.status == 'Đang vận chuyển' ? 'color: green;' 
						: (order.status == 'Đã hủy' ? 'background-color: red;' 
						: (order.status == 'Đang chờ xác nhận' ? 'color: blue' : '')))}">
						[[${order.status}]]
					</label>
				</td>
					<th><a th:href="@{|/orderHistory/detail/${order.orderId}|}"
						class="btn btn-default" id="btn_detail_history"><i class="fa-solid fa-magnifying-glass-plus"></i>
						Xem chi tiết đơn
					</a></th>
				</tr>
			</tbody>
			</table>
			<div class="row" th:if="${orders == null or orders.isEmpty()}">
				<div class="col mt-2 no-result">
					<img src="/assets/images/No_r.png" alt=""><br>
					<h5>Không tìm thấy kết quả nào</h5>
				</div>
			</div>
		</div>

	
	</main>
</body>

</html>